MAIL_FROM=info@tudominio.com
MAIL_USER=usuario@smtp-brevo.com
MAIL_PASSWORD=tu-contraseña-smtp
MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587

OTP_API_KEY=cambia-esta-clave

ENCRYPTION_KEY=una-clave-segura-de-32-caracteres

CHAT2DESK_API_URL=https://api.chat2desk.com.mx
CHAT2DESK_TOKEN=tu-token-chat2desk
CHAT2DESK_CHANNEL_ID=tu-channel-id

OTP_LENGTH=6
OTP_TYPE=alphanumeric
